<header>
    <nav class="nav">
      <p><%= link_to '<<', root_path , class: 'back-sign'%></p>
      <h3 class='devise-register'>Register</h3>
      <%# <%= link_to "NEXT", new_registration_path(resource_name), class: 'devise-register' %> 
    </nav>
</header>